@use '../../../styles/mixins/elevation' as *;

:host ::ng-deep .ant-layout {
  background: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
}

.container {
  padding: var(--space-5);
}
