# Dependencies
node_modules/

# Angular build output
/dist/
/.angular/
/out-tsc/

# VS Code
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS junk files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
.env.local
.env.production

# Tooling caches
.eslintcache

# Vercel
.vercel

# Testing
/coverage
/libpeerconnection.log
/connect.lock
