<h2 class="page-title">Buscador de pilotos</h2>
<form nz-form (submit)="$event.preventDefault()" class="form-wrap">
  <div nz-row nzGutter="12">
    <div nz-col [nzXs]="24" [nzSm]="16">
      <label nz-form-item nzFor="searchQuery">Nombre o apellido</label>
      <input
        nz-input
        id="searchQuery"
        [formControl]="searchQuery"
        placeholder="Min. 4 caracteres"
      />
    </div>
    <div nz-col [nzXs]="24" [nzSm]="8" class="year-col">
      <app-year-selector
        [years]="years"
        [selectedYear]="selectedYear.value"
        (yearChange)="selectedYear.setValue($event)"
      />
    </div>
  </div>
</form>

<app-drivers-table [drivers]="results()" [emptyMessage]="getEmptyMessage()" />
