.chart-wrap {
  position: relative;
  width: 100%;
  height: 16.25rem;
}

@media (min-width: 768px) {
  .chart-wrap {
    height: 20rem;
  }
}

.chart-wrap canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
