<nz-header class="navbar">
  <div class="navbar-inner">
    <a routerLink="/" class="brand" aria-label="Inicio">
      <img src="assets/images/f1-logo.jpg" alt="F1" class="f1-logo-img" />
    </a>

    <ul nz-menu nzMode="horizontal" nzTheme="dark" class="nav-menu" [nzSelectable]="false">
      <li nz-menu-item routerLink="/teams">
        <a routerLink="/teams">Equipos</a>
      </li>

      <li nz-menu-item routerLink="/drivers">
        <a routerLink="/drivers">Pilotos</a>
      </li>

      <li nz-menu-item routerLink="/charts">
        <a routerLink="/charts">Gráficas</a>
      </li>
    </ul>

    <div class="navbar-spacer" aria-hidden="true"></div>
  </div>
</nz-header>
