<nz-sider nzWidth="220">
  <div class="logo">F1 Angular</div>
  <ul nz-menu nzTheme="dark" nzMode="inline">
    <li
      nz-menu-item
      routerLink="/"
      routerLinkActive="ant-menu-item-selected"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span nz-icon nzType="home"></span>
      <span>Inicio</span>
    </li>
    <li nz-menu-item routerLink="/teams" routerLinkActive="ant-menu-item-selected">
      <span nz-icon nzType="team"></span>
      <span>Equipos</span>
    </li>
    <li nz-menu-item routerLink="/drivers" routerLinkActive="ant-menu-item-selected">
      <span nz-icon nzType="user"></span>
      <span>Pilotos</span>
    </li>
    <li nz-menu-item routerLink="/charts" routerLinkActive="ant-menu-item-selected">
      <span nz-icon nzType="bar-chart"></span>
      <span>Gráficas</span>
    </li>
  </ul>
</nz-sider>
