.year-selector-wrap {
  display: flex;
  flex-direction: column;
}

.year-label {
  color: var(--color-text);
  margin: 0 0 var(--space-2) 0;
  line-height: 1.5715;
}

.year-select .ant-select-selector {
  background: var(--color-surface) !important;
}

.year-select {
  min-width: 10rem;
  max-width: 15rem;
  width: 100%;
  margin: 0;
  transform: translateY(-0.4375rem);
}
